h2 {
  background-color: Green;
  color: Blue;
  text-align: center;
  margin: auto;
  width: 50%;
}


h3 {
  background-color: Black;
  color: White;
  text-align: center;
  margin: auto;
  width: 50%
}

img {
  border: 10px solid Red;
}

a {
  text-align: center;
  display: block;
  margin: auto;
  width: 50%;
}
